## ANALISIS DEL PROYECTO : TELECOMUNICACIONES MEGALINE

Paso 1: Preparacion de los datos

1. Convierte los datos en tipos necesarios
2. Encuentra y elimina errores en los datos.

In [46]:
#Cargamos las librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from math import factorial
from datetime import datetime
from scipy import stats as st
import math

In [47]:
#cargamos lo archivos csv

mega_calls = pd.read_csv(r'C:\Users\hp\Desktop\career_da\python_projects\t.megaline\telecomunicaciones_megaline\megaline_calls (1).csv')
mega_internet = pd.read_csv(r'C:\Users\hp\Desktop\career_da\python_projects\t.megaline\telecomunicaciones_megaline\megaline_internet (1).csv')
mega_messages = pd.read_csv(r'C:\Users\hp\Desktop\career_da\python_projects\t.megaline\telecomunicaciones_megaline\megaline_messages (1).csv')
mega_plans = pd.read_csv(r'C:\Users\hp\Desktop\career_da\python_projects\t.megaline\telecomunicaciones_megaline\megaline_plans (1).csv')
mega_users = pd.read_csv(r'C:\Users\hp\Desktop\career_da\python_projects\t.megaline\telecomunicaciones_megaline\megaline_users (1).csv')

1. Conversion de los datos en tipos necesarios

Revisamos los tipos de datos de cada dataframe para analizar a detalle el tipo de dato de cada columna, para asi poder corregirla

In [48]:
mega_calls.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137735 entries, 0 to 137734
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   id         137735 non-null  object
 1   user_id    137735 non-null  int64
 2   call_date  137735 non-null  object
 3   duration   137735 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 4.2+ MB

Se puede ver 4 columnas de el ID, el USER_ID, la fecha y la duracion, pero al imprimir la informacion se aprecia que la fecha está en un formato object, lo cual no es correcto, por lo que se debe corregir y colocar el formato que le corresponde

In [49]:
#cambiamos el tipo de dato de la columna call_date
mega_calls['call_date'] = pd.to_datetime(mega_calls['call_date'], format = '%Y-%m-%d')

#redondeamos el tiempo al numero proximo mas cercano para un mejor analisis
mega_calls['duration'] = mega_calls['duration'].apply(math.ceil)

In [50]:
mega_messages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76051 entries, 0 to 76050
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            76051 non-null  object
 1   user_id       76051 non-null  int64
 2   message_date  76051 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.7+ MB

Se puede ver 3 columnas de el ID, el USER_ID y la fecha del mensaje , pero al imprimir la informacion se aprecia que la fecha está en un formato object, lo cual no es correcto, por lo que se debe corregir y colocar el formato que le corresponde

In [51]:
#cambiamos el tipo de dato de la columna message_date
mega_messages['message_date'] = pd.to_datetime(mega_messages['message_date'], format = '%Y-%m-%d')

In [52]:
mega_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104825 entries, 0 to 104824
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            104825 non-null  object
 1   user_id       104825 non-null  int64
 2   session_date  104825 non-null  object
 3   mb_used       104825 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 3.2+ MB

Se puede ver 4 columnas de el ID, el USER_ID, la fecha y los mb, pero al imprimir la informacion se aprecia que la fecha está en un formato object, lo cual no es correcto, por lo que se debe corregir y colocar el formato que le corresponde y ademas que no la empresa utiliza gb y no mb, por lo que es mas conveniente. Asi que se le cambiaría el nombre de la columna y convertiría lo mb en gb.

In [53]:
#cambiamos el nombre de la columna el nombre mas conveniente y al que vamos a usar, en este caso usaremos gb
mega_internet = mega_internet.rename(columns = {'mb_used':'gb_used'})


#Asi como tambien llevaremos los mb a gb redondeados
mega_internet['gb_used'] = (mega_internet['gb_used']/1024).apply(math.ceil)

#y una vez mas cambiamos la columna date del dataframe a un tipo de dato fecha
mega_internet['session_date'] = pd.to_datetime(mega_internet['session_date'], format = '%Y-%m-%d')

In [54]:
mega_plans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   messages_included      2 non-null      int64
 1   mb_per_month_included  2 non-null      int64
 2   minutes_included       2 non-null      int64
 3   usd_monthly_pay        2 non-null      int64
 4   usd_per_gb             2 non-null      int64
 5   usd_per_message        2 non-null      float64
 6   usd_per_minute         2 non-null      float64
 7   plan_name              2 non-null      object
dtypes: float64(2), int64(5), object(1)
memory usage: 260.0+ bytes

En la informacion resumida del dataframe de tarifas se puede observar 8 columnas que nos dan una info acerca de los planes que ofrece la empresa, como lo es los mensajes que proporciona cada plan, los MB por mes, minutos para poder hacer llamadas, el pago que se hace mensual y los precios, por gb, mensaje y minuto de cada plan.

Dentro de los datos, puedo apreciar que el Dtype que tienen se puede considerar el adecuado para poder trabajar con ellos, no hay ningun dato ausente, pero se tiene que considerar las indicaciones dadas sobre los GB/MG.

In [55]:
#mostramos el dataframe para una mejor guia
mega_plans

,messages_included,mb_per_month_included,minutes_included,usd_monthly_pay,usd_per_gb,usd_per_message,usd_per_minute,plan_name
0,50,15360,500,20,10,0.03,0.03,surf
1,1000,30720,3000,70,7,0.01,0.01,ultimate

In [56]:
#Corregimos lo ya menccionado
mega_plans = mega_plans.rename(columns = {'mb_per_month_included':'gb_per_month_included'})

#Asi como tambien llevaremos los mb a gb redondeados
mega_plans['gb_per_month_included'] = round(mega_plans['gb_per_month_included'] / 1024)

In [57]:
mega_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   user_id     500 non-null    int64
 1   first_name  500 non-null    object
 2   last_name   500 non-null    object
 3   age         500 non-null    int64
 4   city        500 non-null    object
 5   reg_date    500 non-null    object
 6   plan        500 non-null    object
 7   churn_date  34 non-null     object
dtypes: int64(2), object(6)
memory usage: 31.4+ KB

In [58]:
#Corregimos lo datos mencionados 

#corregimos el tipo de dato de la columna reg y churn date a un formato año/mes/dia
mega_users['reg_date'] = pd.to_datetime(mega_users['reg_date'], format = '%Y-%m-%d')
mega_users['churn_date'] = pd.to_datetime(mega_users['churn_date'], format = '%Y-%m-%d')

#colocamos los nombres de los planes en mayuscula y cambiamo el nombre de la columna plan a plan_name
mega_users['plan'] = mega_users['plan'].str.upper()
mega_users = mega_users.rename(columns = {'plan':'plan_name'})